<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Preposition:</strong>
  <%= @user.preposition %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Hide last name:</strong>
  <%= @user.hide_last_name %>
</p>

<%= render partial: "address", locals: { address: @user.address } %>

<h2><%= t('user.medical_detail.label') %></h2>
<%= render partial: "medical_detail", collection: @user.medical_details %>

<p>
  <strong>In case of emergency contact:</strong>
  <%= @user.emergency_contacts.map &:to_s %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
